body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.text {
  text-align: center;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}


.button{
  color:#000;
}

.more{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 25pt;
}

header{
  background-color: whitesmoke;
  text-align:center;
}

footer{
  background-color: whitesmoke;
  text-align:center;
}

.modes{
  color:#000;
  display:flow-root;
  text-align:center;
  font-size: 15pt;
}

.icon{
  width: 25%;
  height: 25%;
}

li{
  font-size: 15pt;
  padding-top: 20px;
}

.titleofdates{
  font-size: 25pt;
}

.search{
  visibility: hidden;
  width: auto;
  text-align: center;
}

.highlight {
  background: #4cff00;
}


@media screen and (max-width:1300px) {

    li{
      font-size: 13pt;
    }


    .titleofdates{
        font-size: 20pt;
    }

    .title{
      font-size: 20pt;
    }

    .modes{
      font-size: 10pt;
    }

    .more{
      font-size:10 pt;
    }

}

@media screen and (max-width:532px) {

    li{
      font-size: 10pt;
    }


    .titleofdates{
        font-size: 15pt;
    }

    .title{
      font-size: 15pt;
    }

    .modes{
      font-size: 10pt;
    }

    .more{
      font-size:10 pt;
    }
    
}